<div class="table-div">
    <table class="table table-md table-hover">
        <thead class="data-header-cell data-header-border">
            <tr>
                <th class="data-header-rank">#</th>
                <th>Symbol</th>
                <th>Price (USD)</th>
                <th>Price (BTC)</th>
                <th>24h Volume (USD)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let token of tokens">
                <td class="data-row" align="right">
                    {{ token.rank }}
                </td>
                <td class="data-row underline">
                    <a [routerLink]="['/marketData', token.symbol]">
                        {{ token.name }}
                    </a>
                </td>
                <td class="data-row" align="right">
                    {{ "$ " + token.priceUsd }}
                </td>
                <td class="data-row" align="right">
                    {{ token.priceBtc }}
                </td>
                <td class="data-row" align="right">
                    {{ token.volume24H }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
