.table-div {
    width: 50%;
}

.data-header-cell {
    background-color: #5e696f;
    color: #fff;
    font-size: 15px;
}

.table thead.data-header-border > tr > th {
    border-top: 1px solid #6b767c;
    border-right: 1px solid #6b767c;
}

.data-header-rank {
    width: 1%;
}

.data-row {
    font-size: 13px;
    font-family: "Open Sans", sans-serif, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.data-row.underline {
    text-decoration: underline;
}